:root {
  --background-color: #12100B;
  --background-color-dark: rgb(255, 255, 255);
  --color-text: #DA9230;
  --color-text-hover: #91601d;
  --color-text-2: #303030;
  --color-text-2-hover: #000000;
  --color-text-3: #ffffff;
  --color-text-3-hover: #ded6d6;
  --color-primary: #DA9230;
  --color-primary-hover: #91601d;
  --color-secondary: #e7e7e7;
  --color-secondary-hover: #bbbbbb;
}

body.dark-mode{
  background-color: var(--background-color-dark);
  color: var(--color-secondary);
}


.button-primary {
  background-color: var(--color-primary);
  color: var(--color-text-3);
  width: fit-content;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 1rem; 
  line-height: 1.5rem; 
  display: flex;
  align-items: center;
  margin: auto;
  font-family: "Apfel Grotezk", sans-serif;
}

.button-primary:hover {
  transform: scale(0.98);
  background-color: var(--color-primary-hover);
  color: var(--color-text-3-hover);
  transition: all 0.1s ease-in;

}

.button-primary:focus {
  transform: scale(0.95);
  transition: all 0.1s ease-in;
}
.button-secondary {
  font-family: "Apfel Grotezk", sans-serif;
  background-color: transparent;
  color: var(--color-text);
  width: fit-content;
  padding: 0.5rem 1rem;
  border: var(--color-primary) 2px solid;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 1rem; 
  line-height: 1.5rem; 
  display: flex;
  align-items: center;
  margin: auto;
  font-family: "Apfel Grotezk", sans-serif;
}

.button-secondary:hover {
  transform: scale(0.98);
  background-color: var(--color-primary-hover);
  color: var(--color-text-2-hover);
  transition: all 0.1s ease-in;

}

a {
  text-decoration: none;
  color: var(--color-text-2);
}